form {
	height: auto;
	width: auto;
	display: flex;
}

.form-control {
	background-color: #fefefe;
	border-color: gray;
}

.curRateTitle {
	color: #fefefe;
}

hr {
	border-top: 1px solid gray;
}

p {
	color: #fefefe;
}

input,
label {
	display: block;
	color: #A8A8A8;
}

input,
select {
	width: auto;
	background-color: gray;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#to {
	margin: 0 20px 0 20px;
}

input:hover,
select:hover {
	border: solid rgb(204, 53, 8) 3px;
}

#rangeSlider {
	margin-left: 40px;
}

#convertMe {
	width: auto;
	color: #fefefe;
	padding: 4px;
	margin: 20px 10px 20px 0px;
}

#convertMe:hover {
	border: solid rgb(204, 53, 8) 3px;
	color: #007bff;
	background-color: #fefefe;
}

/* Result */

/* .results {
    display: block;
    margin-top: 18px;
    height: 40px;
    display: flex;
    max-width: 25%;
} */
.conversion-results {
	margin-top: 30px;
}

#result:hover {
	border: solid rgb(204, 53, 8) 3px;
}

#convResult {
	display: block;
	max-width: 25%;
	text-align: center;
	color: black;
	padding: 4px;
}

h5 {
	color: #fefefe;
	font-weight: 600;
	margin: 50px 0 30px 0;
}

.datePicker {
	display: absolute;
	top: 50vh;
	color: #fefefe;
}

.fa-calendar {
	color: gray;
}

label {
	margin: 20px 0 20px 0;
}

.conversion-results {
	color: #fefefe;
}